@font-face {
    font-family: "BebasKai";
    src: url("../../assets/fonts/BebasKai.otf") format("opentype");
    font-style: normal;
}

.ff-bebas-kai {
    font-family: "BebasKai", sans-serif;
    font-style: normal;
}