@import "./variables";
@import "./fonts";
@import "./maps";
@import "../../node_modules/bootstrap/scss/mixins.scss";
// *** Custom styles *** //
.recharts-cartesian-grid {
  background-color: #fff;
}
.btn {
  height: 50px !important
}

.sidebar {
  width: 200px;
}
.cursor-pointer {
  cursor: pointer;
}

.line-chart-svg {
  g {
    color: #fff
  }
}
.date-time-picker {
  height: 50px;
  .react-datetime-picker__wrapper {
    border: none
  }
  .react-calendar__tile--active {
    background: #f20406
  }
}
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
